<div class="container">
  <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center start" fxLayoutGap="1px" fxLayoutGap.xs="0px" fxLayoutAlign="center center">
    <div fxFlex="30" class="sec-column" fxFlex.xs="1">    
    </div>
    <div fxFlex="40" class="main-column" fxFlex.xs="98" display="block">
      <mat-card-content fxLayoutAlign="center center">
        <img class="mat-image" src="https://avatars2.githubusercontent.com/u/6487477?s=460&v=4" alt="No hay ">
        <mat-divider></mat-divider>
      </mat-card-content>
      <mat-card-content>
       <h1 class="">Augusto Meza</h1>
       <h3 class=""> Software Dev | Stealth gamer | Metal Fan | Soccer enthusiast </h3>
       <h4 class="mat-h4">CONTACT</h4>
      </mat-card-content>
      <mat-card-actions  fxLayoutAlign="center center">
        <a><button mat-icon-button  matTooltip="Send it to j.aug.meza@gmail.com" ><mat-icon class="far fa-envelope" ></mat-icon>
        </button></a>
        <a href="https://www.instagram.com/jaugmeza/"><button mat-icon-button><mat-icon class="fab fa-instagram" ></mat-icon>
        </button></a>
        <a href="https://github.com/AugustoMeza"><button mat-icon-button><mat-icon class="fab fa-github"></mat-icon>
        </button></a>
        <a href="https://twitter.com/AugustoMeza_"><button mat-icon-button><mat-icon class="fab fa-twitter-square" ></mat-icon>
        </button></a>
        
        
        </mat-card-actions>  
    </div>
    <div fxFlex="30" class="sec-column" fxFlex.xs="1">    
    </div>
  </div>
</div>
